
<div style="text-align:center;">

    <h1>Mahad Khalid</h1>

    <h3>Place of Birth: </h3>
    <p>New York, America</p>
    <br><br><br>

    <h3>Interests/Hobbies</h3>
    <br>
    <ol>
        <li>Basketball</li>
        <li>Cooking</li>
        <li>Exercising</li>
        <li>Coding</li>
        <li>Traveling</li>
    </ol>
    <br><br><br>

    <h3>Interesting Quote:</h3>
    <p>"Every Saint has a past, Every Sinner has a Future"</p>
    <br><br><br>

    <h3>Something I Enjoy: </h3>
    <br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6etN5PN9mt1mEev4ysisVMx6SMZ6tdrT5CA&usqp=CAU" alt="Pizza">
</div>
