<h1>Hi my name is Bobby Floyd!</h1>
<p>
    I was born in Stamford, Connecticut many moons ago. Some things that I like to do in my spare time are:
</p>
<br>
<ul>
    <li>Program (duh)</li>
    <li>Golf</li>
    <li>Play Guitar / Listen to music</li>
    <li>Snowboard</li>
    <li>Play with my dog Thor</li>
    <li>Watching Lord of the Rings</li>
</ul>
<br>
<p>
    Speaking of Lord of the Rings, my favorite quote from the movies is, "YOU SHALL NOT PASS!". Very deep stuff. While I'm here
    I might as well post a video. This is me attempting to work on my golf swing.
</p>
<img src="assets/images/full_speed_dec_3_21.gif" class="img-center-fit" />
